.publications-container {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    padding-top: 2%;
    margin-bottom: 4%;
    max-width: 100%;
    min-height: 100%;
    position: relative;
    /* Firefox */
    min-height: -moz-calc(100% - 30px);
    /* WebKit */
    min-height: -webkit-calc(100% - 30px);
    /* Standard */
    min-height: calc(100% - 30px);
}
.publications-item-grid {
    padding-top: 10px;
}
.search-box {
    padding: 28px 0;
}

.search-title {
    padding: 10px 0;
    float: right;
}

.publications-filter-title {
    color: grey;
}


.title {
    position: absolute;
    bottom: 0;
}

.with-underheader-1 {
    height: 75px;
    border-bottom:2.5px solid #d0d0d0;
    /*border:2px solid #2c2c2c;*/
}

.with-underheader-2 {
    height: 25px;
    border-bottom:2.5px solid #d0d0d0;
    /*border:2px solid #2c2c2c;*/
}

.publications-pagination {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 200px;
    vertical-align: bottom;
    display: table-cell;
    text-align: center;
}