/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    background-color: #0e6993;
    color: white;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    vertical-align: bottom;
    display: table-cell;
}
.footer-links {
    text-align: center;
}
.footer-links > li {
    display: inline;
}
.footer-links > li a {
    color: white;
    font-size: small;
    padding: 10px 10px;
    text-decoration: underline;
}
.footer-links > li div {
    vertical-align: bottom;
    height: 36px;
    display: table-cell;
}
.footer-logo {
    float: left;
    position: relative;
    display: inline-block;
    width: 65px;
    padding: 8px 6px;
}
.footer-logo img {
    height: 100%;
    width: 100%;
}
.footer-follow-links {
    list-style-type: none;
    position: relative;
    padding-right: 6px;

}
.footer-follow-links li {
    float: right;
}
.footer-follow-links li a {
    display: block;
    padding: 20px 4px;
}

.footer-start-bottom {
    padding-top: 10px;
}