<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=11" />
  <title>ComptoxImpact</title>
  <link href="/assets/epa-logo-favicon.png" rel="shortcut icon" type="image/x-icon" />
  <script src="http://localhost:4000/client-app.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
<div id="main"/>
</body>
</html>
